<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="susy_container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to("RoR.E.C", pages_path, :class => 'brand' )%>
      <div class="nav-collapse collapse">
        <p class="nav-account navbar-text pull-right">      
          <% if user_signed_in? %>
            <%= link_to("Edit profile", edit_user_registration_path, :class => 'navbar-link' )%> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> | 
            <a href="#" class="navbar-link"><strong><%= current_user.name %></strong></a>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <%= link_to("Facebook Login", Setting.domain + user_omniauth_authorize_path(:facebook)) %> 
          <% end %>
        </p>

          <ul class="nav">
            <li><%= link_to("RSS", feed_path )%></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
