
<article id="hot-tags">
  <div class="tag-page float-clear">
    <h2 class="text-center">MUST HOT LINK</h2>
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>

<div class="desktop-layout">

  <article id="new-post">
    <a href="<%= new_page_path %>"><div class="tag-button"> New Post </div></a>
  </article>

  <article id="get-start">
    <div class="tag-title">
      <h2 class="text-center">How do I get start?</h2>
      <h3 class="text-center">網站開發前的技能健檢</h3>
    </div>
    <div class="tag-button"> Read More </div>
  </article>


  <article id="recommend">
    <div class="tag-title">
      <h2 class="text-center">站長推薦</h2>
      <h3 class="text-center">絕不讓客官失望</h3>
    </div>
    <div class="tag-button"> Read More </div>
  </article>
</div>

<article id="front-tags">
  <div class="tag-page float-clear">
    <h2 class="text-center">前端精選</h2>
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>

<article id="back-tags">
  <div class="tag-page float-clear">
    <h2 class="text-center">後端精選</h2>
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>


<h2 class="big-head text-center float-clear">NEW LINKS</h2>

<hr class="float-clear">

<article class="new-tags">
  <div class="tag-page float-clear">
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>

<hr class="float-clear">

<article class="new-tags">
  <div class="tag-page float-clear">
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>

<hr class="float-clear">

<article class="new-tags">
  <div class="tag-page float-clear">
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>

<hr class="float-clear">

<article class="new-tags">
  <div class="tag-page float-clear">
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>

<hr class="float-clear">

<article class="new-tags">
  <div class="tag-page float-clear">
    <hgroup class="tag-intro">
      <h3 >sdlong 表示：</h3>
      <p>中文 Ruby on Rails 實戰最強教材，沒有之一！</p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <%= image_tag("test.jpg") %>
      </div>
      <div class="tag-content">
        <h4 class="tag-title">Rails-101</h4>
        <p class="tag-description">如果能幫新手弭平各式各樣的超級門檻，是不是能把長達一年的摸索期，砍到只剩短短的幾個禮拜？最後，我設計了一份超級新手作業(最後變成了本書）。這份作業成功的讓我將新人培育的時間 從數月降至兩週以下。這些開 .... </p>
      </div>
    </section>
    <div class="tag-button"> Read More </div>
</article>

<hr class="float-clear">
