<% if user_signed_in? %>
<div class="span8 mg-auto button_group "> 
  <div class="pull-right">
      <a href="#CreateNewPage" role="button" class="btn btn-large btn-primary" data-toggle="modal">New Page</a>
  </div>
  <!-- Modal -->
  <div id="CreateNewPage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel" class="text-center">新增文章</h3>
    </div>
    <div class="modal-body">
      <div id="page_input" class="float-clear mg-auto">
        <div class="form-area">
          <%= simple_form_for(Page.new, remote: true) do |f| %>
            <%= f.input :content, label: '請輸入推薦的網址(http://...)',label_html: { class: 'label-top text-center' } ,:autofocus => true, :input_html => {:id => "url", :class => "page_form-control"} %>
            <div class="new_page_form">
              <div class="selector-wrapper"></div>
            </div>
            <div class="page_tag">
              <label class="string required control-label label-top text-center" for="page_tag"><abbr title="required">*</abbr> 請選擇文章分類</label>
                <%= f.radio_button :page_tag, 'news' %><span class="tag_name"> NEWS </span>
                <%= f.radio_button :page_tag, 'practical' %><span class="tag_name"> 實用經驗 </span>
                <%= f.radio_button :page_tag, 'front_end' %><span class="tag_name"> 前端 </span>
                <%= f.radio_button :page_tag, 'recommend' %><span class="tag_name"> 推薦 </span>
                <%= f.radio_button :page_tag, 'other', checked: true %><span class="tag_name"> 其他 </span>
            </div>
                
            <%= f.input :intro, label: '請用一句話介紹',label_html: { class: 'text-center' }, :input_html => {:class => "page_form-control"} %>
            <%= f.input :messenge, as: :text, label: '詳細簡介',label_html: { class: 'text-center' }, :input_html => {:class => "page_form-control"} %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="ResetNewPage" class="btn" data-dismiss="modal" aria-hidden="true">關閉</button>
      <span id="CloseNewPage" class="btn btn-info" >清空</span>
            <%= f.button :submit, "送出", remote: true, data: { disable_with: "送出中..." } , :class => "btn btn-primary" %>
          <% end %>
    </div>
  </div>
</div>


  <%= content_for :javascripts do %>
    <!-- for jquery preview -->
    <script>
      // Set up preview.
      $('#url').preview({key:'527e94312ae44c169eb5b9cceab5d43f'})

      // On submit add hidden inputs to the form.
      $('form').on('submit', function(){
        $(this).addInputs($('#url').data('preview'));
        return true;
      });
    </script>

    <!-- for close new page ajax -->
    <script>
      $('#CloseNewPage').click(function(){
        $('#myModalLabel').text('新增文章');
        $('.selector').remove()
        $('#new_page')[0].reset();
        $('#CreateNewPage').css('background-color', '#FFFFFF');
      });

      $('#ResetNewPage').click(function(){
        $('#myModalLabel').text('新增文章');
        $('.selector').remove()
        $('#new_page')[0].reset();
        $('#CreateNewPage').css('background-color', '#FFFFFF');
      });
    </script>
  <% end %>
<% end %>  
