<div id="page_input" class="float-clear mg-auto">
  <h1 class="text-center">修改連結內容</h1>
  <div class="form-area">
    <%= simple_form_for @page do |f| %>
      <%= f.input :title, label: '連結的標題',label_html: { class: 'text-center' }, :input_html => {:class => "page_form-control"} %>
      <%= f.input :thumbnail_url, label: '連結圖片的網址(http://)',label_html: { class: 'text-center' }, :input_html => {:class => "page_form-control"} %>
      <%= f.input :description, as: :text, label: '連結的介紹',label_html: { class: 'text-center' }, :input_html => {:class => "page_form-control"} %>
      <%= f.button :submit, "送出", :disable_with => "送出中...", :class => "btn btn-primary btn-large pull-right" %>
    <% end %>
  </div>
</div>