<article id="hot-tags">
  <div class="tag-page float-clear">
    <h2 class="text-center">MUST HOT PAGE</h2>
    <hgroup class="tag-intro">
      <h3 ><%= @must_hot_page.owner.name %>：</h3>
      <p><%= @must_hot_page.intro %></p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <% if @must_hot_page.thumbnail_url.nil? %>
          <%= image_tag("no_img.jpg") %>
        <% else %>
          <img src="<%= @must_hot_page.thumbnail_url %>">
        <% end %>
      </div>
      <div class="tag-content">
        <% if @must_hot_page.title.nil? %>
          <h4 class="tag-title"><%= @must_hot_page.content %></h4>
        <% else %>
          <h4 class="tag-title"><%= @must_hot_page.title %></h4>
        <% end %>
        <% if @must_hot_page.description.nil? %>
          <p class="tag-description">遮了國防布，完全沒有內容 XD<br>該網站無法自動抓取連結資訊<br>如果您是作者，請點選下面按鈕幫忙調整 <%= link_to("Here", edit_link_page_path(@must_hot_page) , :class => "btn btn-danger btn-mini" )%></p>
        <% else %>
          <p class="tag-description"><%= @must_hot_page.description %></p>
        <% end %>     
      </div>
    </section>
    <a href="<%= page_path(@must_hot_page) %>"><div class="tag-button"> Read More </div></a>
  </div>
</article>

<div class="desktop-layout">
  <article id="new-post">
    <a href="<%= new_page_path %>"><div class="tag-button"> New Post </div></a>
  </article>
  <article id="get-start">
    <div class="tag-title">
      <h2 class="text-center">How do I get start?</h2>
      <h3 class="text-center">網站開發前的技能健檢<br>(敬請期待)</h3>
    </div>
    <div class="tag-button"> Read More </div>
  </article>
  <article id="recommend">
    <div class="tag-title">
      <h2 class="text-center">站長推薦</h2>
      <h3 class="text-center">(敬請期待)</h3>
    </div>
    <div class="tag-button"> Read More </div>
  </article>
</div>

<article id="front-tags">
  <div class="tag-page float-clear">
    <h2 class="text-center">前端精選</h2>
    <hgroup class="tag-intro">
      <h3 ><%= @good_front.owner.name %>：</h3>
      <p><%= @good_front.intro %></p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <% if @good_front.thumbnail_url.nil? %>
          <%= image_tag("no_img.jpg") %>
        <% else %>
          <img src="<%= @good_front.thumbnail_url %>">
        <% end %>
      </div>
      <div class="tag-content">
        <% if @good_front.title.nil? %>
          <h4 class="tag-title"><%= @good_front.content %></h4>
        <% else %>
          <h4 class="tag-title"><%= @good_front.title %></h4>
        <% end %>
        <% if @good_front.description.nil? %>
          <p class="tag-description">遮了國防布，完全沒有內容 XD<br>該網站無法自動抓取連結資訊<br>如果您是作者，請點選下面按鈕幫忙調整 <%= link_to("Here", edit_link_page_path(@good_front) , :class => "btn btn-danger btn-mini" )%></p>
        <% else %>
          <p class="tag-description"><%= @good_front.description %></p>
       <% end %>       
      </div>
    </section>
    <a href="<%= page_path(@good_front) %>"><div class="tag-button"> Read More </div></a>
  </div>
</article>

<article id="back-tags">
  <div class="tag-page float-clear">
    <h2 class="text-center">後端精選</h2>
    <hgroup class="tag-intro">
      <h3 ><%= @good_back.owner.name %>：</h3>
      <p><%= @good_back.intro %></p>
    </hgroup>
    <section class="tag-row float-clear">
      <div class="tag-img">
        <% if @good_back.thumbnail_url.nil? %>
          <%= image_tag("no_img.jpg") %>
        <% else %>
          <img src="<%= @good_back.thumbnail_url %>">
        <% end %>
      </div>
      <div class="tag-content">
        <% if @good_back.title.nil? %>
          <h4 class="tag-title"><%= @good_back.content %></h4>
        <% else %>
          <h4 class="tag-title"><%= @good_back.title %></h4>
        <% end %>
        <% if @good_back.description.nil? %>
          <p class="tag-description">遮了國防布，完全沒有內容 XD<br>該網站無法自動抓取連結資訊<br>如果您是作者，請點選下面按鈕幫忙調整 <%= link_to("Here", edit_link_page_path(@good_back) , :class => "btn btn-danger btn-mini" )%></p>
        <% else %>
          <p class="tag-description"><%= @good_back.description %></p>
       <% end %>    
      </div>
    </section>
    <a href="<%= page_path(@good_back) %>"><div class="tag-button"> Read More </div></a>
  </div>
</article>

<h2 class="big-head text-center float-clear">NEW PAGES</h2>

<% @new_pages.each do |page| %>
	<article class="new-tags">
	  <div class="tag-page float-clear">
	    <hgroup class="tag-intro">
	      <h3 ><%= page.owner.name %>：</h3>
	      <p><%= page.intro %></p>
	    </hgroup>
	    <section class="tag-row float-clear">
	      <div class="tag-img">
	        <% if page.thumbnail_url.nil? %>
	          <%= image_tag("no_img.jpg") %>
	        <% else %>
	          <img src="<%= page.thumbnail_url %>">
	        <% end %>
	      </div>
	      <div class="tag-content">
	        <% if page.title.nil? %>
	          <h4 class="tag-title"><%= page.content %></h4>
	        <% else %>
	          <h4 class="tag-title"><%= page.title %></h4>
	        <% end %>
	        <% if page.description.nil? %>
	          <p class="tag-description">遮了國防布，完全沒有內容 XD<br>該網站無法自動抓取連結資訊<br>如果您是作者，請點選下面按鈕幫忙調整 <%= link_to("Here", edit_link_page_path(page) , :class => "btn btn-danger btn-mini" )%></p>
	        <% else %>
	          <p class="tag-description"><%= page.description %></p>
	       <% end %>        
	      </div>
	    </section>
	    <a href="<%= page_path(page) %>"><div class="tag-button"> Read More </div></a>
    </div>
	</article>
<% end %>

<a href="<%= pages_path %>"><h3 class="text-center">...More Pages</h3></a>


