<div id="pages-index">
    <div class="hero-unit">
        <h1 class="text-center">Ruby on Rails<br>Exchange Center</h1>
        <p class="text-center"><span class="word-block">中文界 Ruby on Rails</span> <span class="word-block">資訊交流中心 </span></p>
    </div>
</div>

<div class="span8 float-clear mg-auto button_group ">
    <div class="pull-right">
        <%= link_to("New Page", new_page_path , :class => "btn btn-large btn-primary " ) %>
    </div>
</div>

<div id="nav-page-tag" class="span6 mg-auto float-clear">
    <ul class="nav nav-pills">
      <li class="active"><%= link_to("ALL", pages_path ) %></li>
      <li><%= link_to("NEWS", news_pages_path ) %></li>
      <li><%= link_to("實用經驗", practical_pages_path ) %></li>
      <li><%= link_to("前端相關", front_end_pages_path ) %></li>
      <li><%= link_to("網站推薦", recommend_pages_path ) %></li>
      <li><%= link_to("其他類別", other_pages_path ) %></li>
    </ul>
</div>
 

<% @pages.each do |page| %>
    <div class="span6 mg-auto page_index_titles">
        <h4 class="float-clear"> <%= page.owner.name %> ：&nbsp;<%= page.intro %></h4>
            <div class="span6"><div class="thumb">
                <div class="items">
                    <% if page.thumbnail_url.nil? %>
                        <ul class="images"><li><%= image_tag("no_img.jpg") %></li></ul>
                    <% else %>
                        <ul class="images"><li><img src="<%= page.thumbnail_url %>"></li></ul>
            <% end %>
                </div></div>

                <div class="attributes">
                    <% if page.title.nil? %>
                        <a class="index-title" href="<%= page.content %>" target="_new"><%= page.content %></a>
                    <% else %>
                        <a class="index-title" href="<%= page.content %>" target="_new"><%= page.title %></a>
                    <% end %>
                    
                    <% if page.description.nil? %>
                        <p class="index-p muted">遮了國防布，完全沒有內容 XD<br>該網站無法自動抓取連結資訊<br>如果您是作者，請點選下面按鈕幫忙調整 <%= link_to("Here", edit_link_page_path(page) , :class => "btn btn-danger btn-mini" )%></p>
                    <% else %>
                        <p class="index-p muted"><%= page.description %></p>
                    <% end %>

                </div>
           </div>
    </div>
    <div class="float-clear span6 mg-auto button_group">
                    <div class="button_group pull-right">
                    <% if current_user && page.editable_by?(current_user) %>
                      <%= link_to("Edit", edit_page_path(page), :class => "btn btn btn-info")%>
                      <%= link_to("Delete", page_path(page), :class => "btn btn-danger", :method => :delete, :confirm => "Are you sure?" ) %> 
                      <% end %>
                    <a href="<%= page_path(page) %>"><div class="btn btn-success">Read more &gt;</div></a>
                </div>
    </div>
    <div class="span6 offset3"><hr></div>
<% end %>


</div>