<div id="pages-index">
  <div class="hero-unit">
    <h1 class="text-center">Ruby on Rails<br>Exchange Center</h1>
    <p class="text-center"><span class="word-block">中文界 Ruby on Rails</span> <span class="word-block">資訊交流中心 </span></p>
  </div>
</div>

<div class="span8 mg-auto button_group ">
  <div class="pull-right">
    <%= link_to("New Page", new_page_path , :class => "btn btn-large btn-primary " ) %>
  </div>
</div>

<div id="nav-page-tag" class="span6 mg-auto float-clear">
  <ul class="nav nav-pills">
    <li><%= link_to("ALL", pages_path ) %></li>
    <li><%= link_to("HOT", hot_pages_path ) %></li>
    <li><%= link_to("NEWS", news_pages_path ) %></li>
    <li><%= link_to("實用經驗", practical_pages_path ) %></li>
    <li><%= link_to("前端相關", front_end_pages_path ) %></li>
    <li><%= link_to("網站推薦", recommend_pages_path ) %></li>
    <li><%= link_to("其他類別", other_pages_path ) %></li>
  </ul>
</div>
 


<%= render :partial => "pages/page_item", :collection => @pages, :as => :page %>

