<div id="pages-index">
  <div class="hero-unit">
    <h1 class="text-center">Ruby on Rails<br>Exchange Center</h1>
    <p class="text-center"><span class="word-block">中文界 Ruby on Rails</span> <span class="word-block">資訊交流中心 </span></p>
  </div>
</div>
<% # TODO : new page 按鈕的登入機制 %>
<% # TODO : new page 內容清空機制 %>
<% # TODO : cd ~/Library/Application\ Support/Sublime\ Text\ 2/Packages/ => cd erb... => form alias 修改成 simple_form %>
<div class="span8 mg-auto button_group ">
  <div class="pull-right">
    <a href="#CreateNewPage" role="button" class="btn btn-large btn-primary" data-toggle="modal">New Page</a>
    <%= render :partial => "pages/new_page", :collection => @pages, :as => :page %>
  </div>
</div>

<div id="nav-page-tag" class="span6 mg-auto float-clear">
  <ul class="nav nav-pills">
    <li><%= link_to("ALL", pages_path ) %></li>
    <li><%= link_to("HOT", hot_pages_path ) %></li>
    <li><%= link_to("NEWS", news_pages_path ) %></li>
    <li><%= link_to("實用經驗", practical_pages_path ) %></li>
    <li><%= link_to("前端相關", front_end_pages_path ) %></li>
    <li><%= link_to("網站推薦", recommend_pages_path ) %></li>
    <li><%= link_to("其他類別", other_pages_path ) %></li>
  </ul>
</div>


 

<div id="pages">
  <%= render :partial => "pages/page_item", :collection => @pages, :as => :page %>
</div>
