<div id="page_input" class="offset3">
  <h1 class="text-center">新增文章</h1>
  <div class="form-area">
      <%= simple_form_for @page do |f| %>
      	<%= f.input :content, label: '請輸入推薦的網址',label_html: { class: 'label-top text-center' } ,:autofocus => true, :input_html => {:id => "url", :class => "page_form-control"} %>
          <div class="new_page_form">
        	 <div class="selector-wrapper"></div>
          </div>
        <%= f.input :intro, label: '請用一句話介紹他',label_html: { class: 'text-center' }, :input_html => {:class => "page_form-control"} %>
        <%= f.input :messenge, label: '詳細簡介',label_html: { class: 'text-center' }, :input_html => {:class => "page_form-control"} %>
      	<%= f.button :submit, "送出", :disable_with => "送出中...", :class => "btn btn-primary btn-large pull-right" %>
      <% end %>
  </div>
</div>

<form>

</form>

<script>
    // Set up preview.
    $('#url').preview({key:'527e94312ae44c169eb5b9cceab5d43f'})

    // On submit add hidden inputs to the form.
    $('form').on('submit', function(){
      $(this).addInputs($('#url').data('preview'));
      return true;
    });


</script>
