<div class="button_group span10 offset1">
	<div class="button_grup pull-right">
		<% if current_user && @page.editable_by?(current_user) %>
	  		<%= link_to("Edit", edit_page_path(@page) , :class => "btn btn-info btn-large" )%>
	  	<% end %>
	  	<%= link_to("Back", pages_path , :class => "btn btn-large btn-success" )%>
  	</div>
</div>

<h1 class="page_head_title text-center"><%= @page.title %></h1>
<p class="page_head_text text-center"><%= @page.intro %></p>


<!-- page的部分   -->

	<div class="span6 span6 offset3 page_index_titles">
		<div class="thumb">
	 		<div class="items">
				<ul class="images"><li><img src="<%= @page.thumbnail_url %>"></li></ul>
			</div>
		</div>
		<div class="attributes">
			<a class="index-title" href="<%= @page.provider_url %>" target="_new"><%= @page.title %></a>
			<p class="index-p muted"><%= @page.description %></p>
		</div>
	</div>


<div class="span6 offset3"><hr></div>

<div id="show_page_messenge" class="span6 offset3">
	<h2 class="text-center page_show_titles">推薦原因</h2>
	<p class="page_text page_index_titles"><%= simple_format(@page.messenge) %></p>
</div>

<div class="span6 offset3"><hr></div>

<!-- end - page的部分   -->


<div class="span6 offset3">
	<%= link_to("New Post", new_page_post_path(@page) , :class => "btn btn-warning pull-right")%>
	</div>

<div class="span6 offset3">
<h4>推文留言</h4>

	<table class="table">
		
		<tbody>
			<% @posts.each do |post| %>
		<tr>
			<td> 
				<span clas="author"> 
					<strong> 
						<%= post.author.name %> 表示：
					</strong>
				</span>
				<p>
					simple_format(<%= post.content %>)
				</p>
			</td>
			<td> 
				 <% if current_user && post.editable_by?(current_user) %>
				 <%= link_to("Delete", page_post_path(post.page, post), :class => "btn btn-mini pull-right", :method => :delete, :confirm => "Are you sure?" ) %>
				 <%= link_to("Edit", edit_page_post_path(post.page, post), :class => "btn-edit btn btn-mini pull-right")%>  
				 <% end %></td>
		</tr>
		<% end %>
		</tbody>
	</table>
</div>
</div>