<div class="hero-unit">
	<h1 class="text-center">Rails-Learn</h1>
	<p class="text-center">中文界 Ruby & Ruby on Rails 資訊交流中心 </p>
</div>

<div class="span8 offset2">
    
    <div class="group">
        <%= link_to("New Page", new_page_path , :class => "btn btn-large btn-primary pull-right" ) %>
    </div>
</div>
 
<div class="span6 offset3 page_index_titles">
    <h4> sdlong 的強烈推薦： &nbsp;&nbsp;&nbsp;本站長的blog</h4>
        <div class="span6"><div class="thumb">
            <div class="items">
                <ul class="images"><li><img src="http://logdown.com/images/og_plain.jpg"></li></ul>
            </div></div>

            <div class="attributes">
                <a class="index-title" href="#" contenteditable="true">sdlong's Blog</a>
                <p class="index-p muted">I'm sdlong. Here have my notes about learn Ruby, Ruby on Rails, Git and Project Development .</p>
            </div>
            <a href="asdgdsfg"><div class="btn btn-success pull-right">Read more &gt;</div></a>
        </div>
</div>
<div class="span6 offset3"><hr></div>



<% @links.each do |link| %>
    <div class="span6 offset3 page_index_titles">
        <h4> sdlong 的強烈推薦： &nbsp;&nbsp;&nbsp;<%= link.intro %></h4>
            <div class="span6"><div class="thumb">
                <div class="items">
                    <ul class="images"><li><img src="<%= link.thumbnail_url %>"></li></ul>
                </div></div>

                <div class="attributes">
                    <a class="index-title" href="<% link.provider_url %>" contenteditable="true"><%= link.title %></a>
                    <p class="index-p muted"><%= link.description %></p>
                </div>
                <a href="<%= link_path(link) %>"><div class="btn btn-success pull-right">Read more &gt;</div></a>
            </div>
    </div>
    <div class="span6 offset3"><hr></div>
<% end %>


</div>