<!DOCTYPE html>
<html>
<head>
  <title>RoR.E.C</title>
  <meta name="author" content="sdlong">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <%= render_page_title_tag %>
  <%= render_page_description_meta_tag %>
  <%= render_page_keywords_meta_tag %>
  <%= render_page_image_link_tag %>

  <%= auto_discovery_link_tag(:rss, "http://rorec.herokuapp.com/feed") %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render :partial => "shared/nav" %>
  
  <div class="susy_container">
    <%= notice_message %>
    <%= yield %>
  </div>

  <%= render :partial => "shared/footer" %>
  <%= javascript_include_tag "application"  %>
  <%= yield :javascripts %> 
</body>
</html>
