<!DOCTYPE html>
<html>
<head>
  <title>RoR.E.C</title>
  <meta name="author" content="sdlong">
  <meta name="description" content="Ruby on Rails Exchange Center 致力成為用RoR開發網站的技術資訊與資源交流平台">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>

   
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="susy_container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to("RoR.E.C", index_path, :class => 'brand' )%>
                <div class="nav-collapse collapse">
                    <p class="nav-account navbar-text pull-right">
                        <% if user_signed_in? %>
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> | 
                        <a href="#" class="navbar-link"><strong><%= current_user.name %></strong></a>
                    <% else %>
                        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        <%= link_to("Facebook Login", 'http://rails-learn.herokuapp.com' + user_omniauth_authorize_path(:facebook)) %> 
                    <% end %>
                    </p>

                    <ul class="nav">
                        <li><%= link_to("Home", home_path )%></li>
                        <li><%= link_to("About", about_path )%></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="susy_container">

        <% if notice %>
            <p class="text-center alert alert-success"><%= notice %></p>
        <% end %>

        <% if alert %>
            <p class="text-center alert alert-danger"><%= alert %></p>
    	<% end %>

        <%= yield %>

	</div>

</body>
</html>
