<!DOCTYPE html>
<html>
<head>
  <title>RailsLearn</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  
  <%= csrf_meta_tags %>
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">RailsLearn</a>
                <div class="nav-collapse collapse">
                    <p class="nav-account navbar-text pull-right">
                        <% if user_signed_in? %>
                        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> | 
                        <a href="#" class="navbar-link"><strong><%= current_user.name %></strong></a>
                    <% else %>
                        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                        <%= link_to("Facebook Login", 'http://railslearn.dev/' + user_omniauth_authorize_path(:facebook)) %> 
                    <% end %>
                    </p>

                    <ul class="nav">
                        <li><a href="home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>
	
    	<%= yield %>

	</div>
    <%= javascript_include_tag "application"  %>
</body>
</html>
